<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com-cordova-engkoo"
        version="1.0.0">

    <name>com-cordova-engkoo</name>
    <description>Cordova/Phonegap plugin to display engkoo</description>
    <author>Menghao</author>

	<js-module src="www/engkoo.js" name="engkoo">
        <clobbers target="Engkoo" />
    </js-module>
    
 
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="Engkoo">
                <param name="ios-package" value="Engkoo"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Engkoo.h" />
        <source-file src="src/ios/Engkoo.m" />

        <header-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridge_JS.h" />
        <source-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridge_JS.m" />

        <header-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridge.h" />
        <source-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridge.m" />

        <header-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridgeBase.h" />
        <source-file src="src/ios/WebViewJavascriptBridge/WebViewJavascriptBridgeBase.m" />

        <header-file src="src/ios/WebViewJavascriptBridge/WKWebViewJavascriptBridge.h" />
        <source-file src="src/ios/WebViewJavascriptBridge/WKWebViewJavascriptBridge.m" />
        
    </platform>

  
   

    <platform name="android">
    
		<engines>
			<engine name="cordova" version=">=6.2.0" />
			<engine name="cordova-android" version=">=6.0.0" />
		</engines>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Engkoo">
                <param name="android-package" value="com.edufe.engkoo.Engkoo"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/com/edufe/engkoo/AudioRecoder.java" target-dir="src/com/edufe/engkoo" />
        <source-file src="src/android/com/edufe/engkoo/Engkoo.java" target-dir="src/com/edufe/engkoo" />
        <source-file src="src/android/com/edufe/engkoo/EngkooDialog.java" target-dir="src/com/edufe/engkoo" />

        <source-file src="src/android/com/github/lzyzsd/jsbridge/BridgeHandler.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/BridgeUtil.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/BridgeWebView.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/BridgeWebViewClient.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/CallBackFunction.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/DefaultHandler.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/Message.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        <source-file src="src/android/com/github/lzyzsd/jsbridge/WebViewJavascriptBridge.java" target-dir="src/com/github/lzyzsd/jsbridge" />
        
        <resource-file src="src/android/WebViewJavascriptBridge.js" target="assets/WebViewJavascriptBridge.js" />
    </platform>

</plugin>